<IDOCTYPE html>
<html lang="en" xmlns="http://www.w3.0rg/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>500</title>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar('beranda')}"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="text-center m-4">
                    <img src="https://cdn-icons-png.flaticon.com/512/6659/6659895.png" width="100" height="100">
                    <h2 class="text-center m-4">Halaman Tidak Ditemukan</h2>
                </div>
                <div class="text-center m-3">
                    <a type="button" class="btn btn-md btn-primary" href="/">Kembali ke Beranda</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>